<!DOCTYPE html>
<html ng-app="Wicked">
<head>
  <title>WickedTest</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script src="http://localhost:3000/assets/mystuff/wicked.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-controller="PdfCtrl">
  <h1>Main</h1>
  <p>{{plainMessage}}</p>
  <p>name: {{person.name}}</p>
</div>

</body>
</html>
